{% extends 'base.twig' %}

{% block title %}Link unterwegs · Votepit{% endblock %}

{% block content %}
<section class="vp-card">
    <span class="vp-icon" aria-hidden="true">&#9993;</span>
    <h1 class="vp-h1">Link ist unterwegs</h1>
    <p class="vp-lead">
        Falls diese Adresse bei uns registriert ist, haben wir soeben einen
        Magic-Link verschickt. Bitte prüfe dein Postfach.
    </p>
    <p class="vp-lead">Der Link ist 15&nbsp;Minuten gültig.</p>
</section>
{% endblock %}

{% block footer %}
<footer class="vp-footer">Votepit · <a class="vp-link" href="/login">Nochmal versuchen</a></footer>
{% endblock %}
